/* Add style for the body */
body {
    font-family: Arial, sans-serif;
    border: #003302 solid 5px;
}

/* Add style for the header */
h1 {
    background-color: #003302;
    text-align: center;
    color: white;
    padding: 2%;
    margin: auto;
}

/* Add style for the nav bar */
nav {
    background-color: #bedbbe;
    height: 50px;
    margin-top: -16px;
}

nav ul {
    text-align: center;
}

nav li {
    color: green;
    display: inline-block;
    text-align: center;
    padding: 1.5% 2% 0% 2%;
}

/*Add style to the home page main content */
main {
    border-top: #003302 solid 5px;
    border-bottom: #003302 solid 5px;
    padding-left: 3%;
}

/* Add style to the home page image */
img {
    max-width: 80%;
    padding-left: 10%;
}

/*Add style to the span in the heading*/
span {
    text-shadow: 1px 1px 1px #bedbbe;
}

/* Add style to the footer */
footer {
    background-color: #bedbbe;
    height: 50px;
    margin-top: -16px;
}

footer ul {
    text-align: center;
}

footer li {
    display: inline-block;
    text-align: center;
    padding: 1.5% 2% 0% 2%;
}